*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1{
font-size: 46px;
font-weight: 700;
line-height: 64px;
letter-spacing: -1.1200000047683716px;
}
h2{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
}



.center-txt{
    text-align: center;
}
.drk-blu-txt{
  color: #14566A;
}
.blu-txt{
  color: #28B1DA;
}
.gray-txt{
color: #7D7D7D;
}
.orange-txt{
    color: #F27A66;
}
.blue-shd-gb{
    background: linear-gradient(177.97deg, #A3E5FF 1.72%, #FFF1F1 98.52%);
}
.pink-shd-bg{
    background: linear-gradient(180deg, #FFAFC6 -4.33%, #FFEFD4 109.25%);
}
.blu-bg{
    color: white;
    background: #28B1DA;
}
.pink-bg{
    background: #FFF5E7;
}
.orange-bg{
    background: #F8A425;
    color: white;
}
.button{
    border: none;
 border-radius: 30px;
 padding: 10px 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}







 header nav{
     padding: 20px 0px;
margin: auto;
width: 95%;
}